<template>
    <div class = 'col-sm-10'>
        <p></p>
        <p class="alert alert-danger" role="alert">
            <slot></slot>
        </p>
    </div>
</template>

<script>
    export default {
        props: ['errors'],
    }
</script>