<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1> Liste des usagers</h1>
            <div>
                <p>
                    <router-link :to="'/'" tag="button" class="btn btn-sm btn-primary" >Accueil
                    </router-link>

                </p>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><a @click="triItems('prenom')" href="javascript:void(0)">Prenom</a></th>
                            <th><a @click="triItems('nom')" href="javascript:void(0)">Nom</a></th>
                            <th><a @click="triItems('username')" href="javascript:void(0)">Nom d'usager</a></th>
                            <th><a @click="triItems('courriel')" href="javascript:void(0)">Courriel</a></th>

                            <th>Action</th>
                        </tr>
                    </thead>

                    <template v-if="listeUsager.length >0">
                        <tbody>
                                <tr v-for="(unItem, index) in listePageCourante" :key="index" >
                                    <td>{{ unItem.prenom }} </td>
                                    <td><router-link :to="{name: 'usagers/afficher', params: {idImpression: unItem.id} }" >{{ unItem.nom }} </router-link> </td>
                                    <td>{{ unItem.username }} </td>
                                    <td>{{ unItem.courriel }} </td>

                                    <td>
                                        <router-link :to="{name: 'impressions/liste', params: {idUser: unItem.id} }" tag="button" class="btn btn-sm btn-primary">Ses impressions</router-link>

                                    </td>
                                </tr>
                        </tbody>

                    </template>
                    <template v-else>
                        <p v-if="etat=='chargement'">chargement de la liste des usagers</p>
                        <p v-else>Aucune impression à afficher</p>
                    </template>
                </table>
                <div v-if="listeUsager.length >0">

                        <paginate
                                v-model="pageCourante"
                                :page-count="nbrPage"
                                :prev-text="'Précédent'"
                                :next-text="'Suivant'"
                                :container-class="'pagination'"
                                :page-class="'page-item'"
                                :page-link-class="'page-link'"
                                :prev-class="'page-link'"
                                :prev-link-class="'page-item'"
                                :next-class="'page-link'"
                                :next-link-class="'page-item'"
                                :break-view-class="'break-view'"
                                :break-view-link-class="'break-view-link'">
                        </paginate>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Index des usagers.
 *
 * La liste peut être triée par chacune des colonnes
 * La liste est paginée localement. Toutes les usagers sont chargées et affichées page par page.
 *    -il est possible que cette technique ne soit pas efficace lorsqu'il y aura des milliers d'entrés.
 *
 */

    import axios from 'axios';
    import lodash from 'lodash'



    export default {

        name: 'ImpressionsListe',
        data () {
            return {
                listeUsager: [], // la liste des usagers à afficher
                etat: 'chargement',   // l'état de chargement de la page:
                                      //        chargement: les données ne sont pas arrivées
                                      //        charge: (chargé) les données sont arrivées et peuvent être affichées.

                //pour le tri
                colonneTriCourant: "nom",  // la colonne par laquelle les usagers sont triées
                ordreTriAscendant: false,  // on part en desc pour trier les nouvelles en premier

                //pour la pagination
                lignesParPage: 10,  // le nombre de lignes par page pour la pagination
                pageCourante: 1,    // la page affichée présentement

            }
        },

        props: {
            },

        methods: {

            //TODO: seul un admin devrait voir ca, pour l'instant, ca sera pas accessible du tout
            /**
             *  Appel Ajax permettant d'effacer un usager
             *
             *  @param id : l'id de l'usager à effacer
             *  @param index : l'index dans la page courante de l'usager sélectionné
             *  @param nom : le nom de l'usager sélectionné
             */
            confirmeEffacer(id,index,nom) {
                let that = this;

                this.$swal({     //$swal c'est SweetAlert
                    title: "Effacer  "+nom,
                    text: "Il n'y aura aucun retour en arrière possible !",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui supprimer !',
                    cancelButtonText: 'Non',
                }).then( (result) => {
                    if(result.value) {
                        axios.get('/api/usager/deleteApi/' + id)
                            .then( response => {
                                that.listeUsager.splice(index+((this.pageCourante-1)*this.lignesParPage),1);
                                that.$swal("L'usager a été effacée correctement");
                            })
                            .catch(function (erreur) {
                                that.$swal("erreur lors de l'effacement")
                            })
                    } else (
                        that.$swal('annulé')
                    )
                });
            },


            /**
             *  Tri les usagers selon une colonne.
             *
             *  @param colonne : le nom du champ d'une usager par lequel trier la liste des usagers.
             */
            triItems(colonne) {
                // basé sur  la réponse de Eduardo Cuomo sur https://stackoverflow.com/questions/41222003/vue-order-list-view
                this.listeUsager = lodash.sortBy(this.listeUsager, [colonne]);
                if(this.colonneTriCourant===colonne) {
                    if (!this.ordreTriAscendant) {
                        this.listeUsager = lodash.reverse(this.listeUsager);
                    }
                    this.ordreTriAscendant = !this.ordreTriAscendant;
                } else {
                    this.ordreTriAscendant = false;
                }

                this.colonneTriCourant = colonne;
                this.pageCourante = 1;
            },

            /**
             *  Appel Ajax pour charger les usagers à afficher.
             */
            chargeUsagers() {
                axios.get('/api/usagers/listeApi')
                    .then(response => {
                        this.etat = "charge";
                        this.listeUsager = response.data;
                        this.triItems(this.colonneTriCourant);
                    });
            },
        },

        computed: {

            /**
             * Calcul du nombre de pages pour l'index de la pagination
             * @returns {number} le nombre de page
             */
            nbrPage : function() {
                return Math.ceil(this.listeUsager.length / this.lignesParPage);
            },

            /**
             * Sépare la liste des usagers chargées en page
             * @returns {usagers} la liste des usagers à afficher pour la page courante.
             */
            listePageCourante : function() {
                return lodash.chunk(this.listeUsager, this.lignesParPage)[this.pageCourante-1];
            },
        },

        mounted: function () {
            this.chargeUsagers();
        }
    }

</script>





