<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
/**
 * Index des Usagers.
 *
 * La liste peut être triée par chacune des colonnes
 * La liste est paginée localement. Tous les items sont chargées et affichées page par page.
 *    -il est possible que cette technique ne soit pas efficace lorsqu'il y aura des milliers d'entrés.
 *
 */

    import axios from 'axios';

    import UsagerListe from './UsagersListe.vue';

    export default {
        components: { UsagerListe },

        name: 'UsagersIndex',
        data () {
            return {
            }
        },

        methods: {
        },

        mounted: function () {
        }
    }

</script>
