<template>
    <div>
        <router-link :to="{name: 'impressions/liste', params: {idUser: 0} }" class="btn bnt-info">Toutes les impressions</router-link>

        <router-link :to="{name: 'impressions/liste', params: {idUser: -1} }" class="btn bnt-info">Mes impressions</router-link>
        <router-link :to="{name: 'filaments/liste' }" class="btn bnt-info">Filaments</router-link>
        <router-link :to="{name: 'usagers/liste' }" class="btn bnt-info">Usagers</router-link>


    </div>
</template>

<script>

    export default {
        name: 'application',
    }

</script>