<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1> Liste des filaments</h1>
            <div>
                <p>
                    <router-link :to="{name: 'filaments/creer'}" tag="button" class="btn btn-sm btn-primary" >Créer
                    </router-link>
                    <router-link :to="'/'" tag="button" class="btn btn-sm btn-primary" >Accueil
                    </router-link>

                </p>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><a @click="triItems('fabricant')" href="javascript:void(0)">Fabricant</a></th>
                            <th><a @click="triItems('diametre')" href="javascript:void(0)">Diametre</a></th>
                            <th><a @click="triItems('temperature_recommandee')" href="javascript:void(0)">Temperature recommandee</a></th>
                            <th><a @click="triItems('commentaire')" href="javascript:void(0)">Commentaire</a></th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <template v-if="listeItems.length >0">
                        <tbody>
                                <tr v-for="(unItem, index) in listePageCourante" :key="index" >
                                    <td><router-link :to="{name: 'filaments/afficher', params: {id: unItem.id} }" >{{ unItem.fabricant }} </router-link> </td>
                                    <td>{{ unItem.diametre }} </td>
                                    <td>{{ unItem.temperature_recommandee }} </td>
                                    <td>{{ unItem.commentaire }}</td>
                                    <td>
                                        <router-link  :to="{name: 'filaments/modifier', params: {id: unItem.id} }" tag="button" class="btn btn-sm btn-primary" >modifier
                                        </router-link>
                                        <a @click="confirmeEffacer(unItem.id, index, unItem.fabricant)" class="btn btn-sm btn-danger">Effacer</a>
                                    </td>
                                </tr>
                        </tbody>

                    </template>
                    <template v-else>
                        <p v-if="etat=='chargement'">chargement de la liste des filaments</p>
                        <p v-else>Aucun filament à afficher</p>
                    </template>
                </table>
                <div v-if="listeItems.length >0">

                        <paginate
                                v-model="pageCourante"
                                :page-count="nbrPage"
                                :prev-text="'Précédent'"
                                :next-text="'Suivant'"
                                :container-class="'pagination'"
                                :page-class="'page-item'"
                                :page-link-class="'page-link'"
                                :prev-class="'page-link'"
                                :prev-link-class="'page-item'"
                                :next-class="'page-link'"
                                :next-link-class="'page-item'"
                                :break-view-class="'break-view'"
                                :break-view-link-class="'break-view-link'">
                        </paginate>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Index des filaments.
 *
 * La liste peut être triée par chacune des colonnes
 * La liste est paginée localement. Tous les items sont chargées et affichées page par page.
 *    -il est possible que cette technique ne soit pas efficace lorsqu'il y aura des milliers d'entrés.
 *
 */

    import axios from 'axios';
    import lodash from 'lodash'



    export default {

        name: 'FilamentsListe',
        data () {
            return {
                listeItems: [], // la liste des filaments à afficher
                etat: 'chargement',   // l'état de chargement de la page:
                                      //        chargement: les données ne sont pas arrivées
                                      //        charge: (chargé) les données sont arrivées et peuvent être affichées.

                //pour le tri
                colonneTriCourant: "dateCreation",  // la colonne par laquelle les items sont triées
                ordreTriAscendant: false,  // on part en desc pour trier les nouvelles en premier

                //pour la pagination
                lignesParPage: 10,  // le nombre de lignes par page pour la pagination
                pageCourante: 1,    // la page affichée présentement

            }
        },
        

        methods: {

            /**
             *  Appel Ajax permettant d'effacer un filament
             *
             *  @param id : l'id du filament à effacer
             *  @param index : l'index dans la page courante du filament sélectionné
             *  @param nom : le nom du filament sélectionné
             */
            confirmeEffacer(id,index,nom) {
                let that = this;

                this.$swal({     //$swal c'est SweetAlert
                    title: "Effacer  "+nom,
                    text: "Il n'y aura aucun retour en arrière possible !",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui supprimer !',
                    cancelButtonText: 'Non',
                }).then( (result) => {
                    if(result.value) {
                        axios.get('/api/filaments/deleteApi/' + id)
                            .then( response => {
                                that.listeItems.splice(index+((this.pageCourante-1)*this.lignesParPage),1);
                                that.$swal("Le filament a été effacé correctement");
                            })
                            .catch(function (erreur) {
                                that.$swal("erreur lors de l'effacement")
                            })
                    } else (
                        that.$swal('annulé')
                    )
                });
            },

            /**
             *  Tri les items selon une colonne.
             *
             *  @param colonne : le nom du champ par lequel trier la liste.
             */
            triItems(colonne) {
                // basé sur  la réponse de Eduardo Cuomo sur https://stackoverflow.com/questions/41222003/vue-order-list-view
                this.listeItems = lodash.sortBy(this.listeItems, [colonne]);
                if(this.colonneTriCourant===colonne) {
                    if (!this.ordreTriAscendant) {
                        this.listeItems = lodash.reverse(this.listeItems);
                    }
                    this.ordreTriAscendant = !this.ordreTriAscendant;
                } else {
                    this.ordreTriAscendant = false;
                }
                this.colonneTriCourant = colonne;
                this.pageCourante = 1;
            },

            /**
             *  Appel Ajax pour charger les items à afficher.
             */
            chargeItems() {
                axios.get('/api/filaments/listeApi')
                    .then(response => {
                        this.etat = "charge";
                        this.listeItems = response.data;
                        this.triItems(this.colonneTriCourant);
                    });
            },
        },

        computed: {

            /**
             * Calcul du nombre de pages pour l'index de la pagination
             * @returns {number} le nombre de page
             */
            nbrPage : function() {
                return Math.ceil(this.listeItems.length / this.lignesParPage);
            },

            /**
             * Sépare la liste des items chargées en page
             * @returns {items} la liste des items à afficher pour la page courante.
             */
            listePageCourante : function() {
                return lodash.chunk(this.listeItems, this.lignesParPage)[this.pageCourante-1];
            },
        },

        mounted: function () {
            this.chargeItems();
        }
    }

</script>





