<template>
    <filament-c
            v-bind:estEnLecture="estEnLecture"
    ></filament-c>
</template>

<script>

    import FilamentC from "./FilamentsC.vue";

    export default {
        name: 'FilamentCreer',
        data () {
            return {
                estEnLecture: false,
            };
        },

        components: { 'filament-c': FilamentC },
    }

</script>