<template>
    <div class="container">
        <section class="section-padding">
            <div class="jumbotron text-left">
                <form method="POST" action="" @submit.prevent="onSubmit"  class="form-horizontal" role="form">
                    <div class="form-horizontal">
                        <filament-formulaire
                                v-model="filament"
                                :erreurs="erreurs"
                                :estEnlecture="estEnLecture">
                        </filament-formulaire>

                        <div class="form-group" v-if="!estEnLecture">
                            <div class = 'col-sm-3'>
                                <button class="btn btn-primary">Sauvegarder</button>
                            </div>
                        </div>
                        <div class="form-group" >
                            <div class = 'col-sm-3'>
                                <a @click="$router.go(-1)" class="btn btn-primary">Retour</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</template>

<script>

    import FormError from '../../FormError.vue';
    import BootstrapVue from 'bootstrap-vue';

    import FilamentFormulaire from './FilamentFormulaireComponent.vue';

    export default {

        components: { FormError, BootstrapVue, FilamentFormulaire },

        name: 'FilamentCrud',
        props: {
            estEnLecture: Boolean,
            filament: Object,
            erreurs: Object,
        },

        data: function () {
            return {

            };
        },

        methods: {
            onSubmit() {
                this.$emit('submitted', {
                    fabricant: this.filament.fabricant,
                    diametre: this.filament.diametre,
                    temperature_recommandee: this.filament.temperature_recommandee,
                    commentaire: this.filament.commentaire
                });
            },
        },

    }

</script>