<template>
    <div class = 'col-sm-11'>
        <div class="form-group" >
            <label for="fabricant" class="col-sm-8 control-label">Nom du fabricant du filament:</label>
            <div class = 'col-sm-11'>
                <input type="text" id="fabricant" name="fabricant"
                       v-bind:readonly="estEnLecture"
                       class="form-control"
                       v-bind:class="{'form-control-plaintext':estEnLecture}"
                       v-model="filament.fabricant">
                <form-error v-if="erreurs.fabricant" :erreurs="erreurs">
                    {{ erreurs.fabricant[0] }}
                </form-error>
            </div>
        </div>
        <div class="form-group" >
            <label for="diametre" class="col-sm-8 control-label">Diamètre du filament:</label>
            <div class = 'col-sm-11'>
                <input type="text" id="diametre" name="diametre"
                       v-bind:readonly="estEnLecture"
                       class="form-control"
                       v-bind:class="{'form-control-plaintext':estEnLecture}"
                       v-model="filament.diametre">
                <form-error v-if="erreurs.diametre" :erreurs="erreurs">
                    {{ erreurs.diametre[0] }}
                </form-error>
            </div>
        </div>
        <div class="form-group" >
            <label for="temperature" class="col-sm-8 control-label">Température recommandée:</label>
            <div class = 'col-sm-11'>
                <input type="text" id="temperature_recommandee" name="temperature"
                       v-bind:readonly="estEnLecture"
                       class="form-control"
                       v-bind:class="{'form-control-plaintext':estEnLecture}"
                       v-model="filament.temperature_recommandee">
                <form-error v-if="erreurs.temperature_recommandee" :erreurs="erreurs">
                    {{ erreurs.temperature_recommandee[0] }}
                </form-error>
            </div>
        </div>
        <div class="form-group">
            <label for="commentaire" class="col-sm-8 control-label">Commentaire:</label>
            <div class = 'col-sm-11'>
                <b-form-textarea
                        v-model="filament.commentaire"
                        :rows="3"
                        :max-rows="6"
                        :readonly="estEnLecture"
                ></b-form-textarea>
                <form-error v-if="erreurs.commentaire" :erreurs="erreurs">
                    {{ erreurs.commentaire[0] }}
                </form-error>
            </div>
        </div>
    </div>
</template>


<script>
    /**
     * Composant permettant de faire l'entré des valeurs pour la création et la modification et l'affichage d'un filament
     * La sauvegarde de l'info doit être fait par le parent.
     * Props:
     *   v-model: objet représentant un filament. Les attributs sont: fabricant, diametre, temperature, commentaire
     *
     *   erreurs: un objet contenant les erreurs provenant de l'API.
     *            Les erreurs sont pour fabricant, diametre, temperature et commentaire.
     *
     *   estEnlecture: boolean indiquant si les champs doivent être en lecture (true) ou en écriture (false).
     */
    import FormError from '../../FormError.vue';
    import BootstrapVue from 'bootstrap-vue';


    export default {

        components: {  BootstrapVue, FormError },

        name: 'FilamentCRUD',
        props: {
            value: Object,

            erreurs: Object,
            estEnLecture: Boolean,
        },

        data: function() {
            return {
                filament: this.value || {
                    fabricant:'',
                    diametre:'1.75',
                    temperature: '220',
                    commentaire: '',
                }
            }
        },


    }
</script>
