<template>
    <div>
        <router-view></router-view>

    </div>
</template>

<script>


/**
 * Index des filaments.
 *
 * La liste peut être triée par chacune des colonnes
 * La liste est paginée localement. Tous les filaments sont chargés et affichés page par page.
 *    -il est possible que cette technique ne soit pas efficace lorsqu'il y aura des milliers d'entrés.
 *
 */

    import FilamentsListe from './FilamentsListe.vue';

    export default {
        components: { FilamentsListe },

        name: 'FilamentsIndex',
        data () {
            return {

            }
        },

        methods: {

        },


    }

</script>





