<template>
    <filament-crud
            v-bind:estEnLecture="estEnLecture"
            v-bind:filament="filament"
            v-on:submitted="submit"
            v-bind:erreurs="erreurs"
    ></filament-crud>
</template>

<script>

    import axios from 'axios';
    import FilamentCrud from "./FilamentsCRUD.vue";

    export default {
        name: 'FilamentC',
        data () {
            return {
                filament: {},
                erreurs: {},
            };
        },

        props: [ 'estEnLecture',  ],
        methods: {
            submit(event) {
                axios.post('/api/filaments/createApi/', event)
                    .then(response => {
                            this.$router.go(-1)
                    })
                    .catch(e => {
                        if (e.response.status == 422) {
                            this.erreurs = e.response.data.errors;
                        } else {
                            this.$swal("Une erreur s'est produite")
                        }
                    });
            },
        },

        events: {
            'submitted'(event) {
                this.submit(event);
            },
        },

        components: { 'filament-crud': FilamentCrud },
    }

</script>