<template>
    <filament-ru
            v-bind:estEnLecture="estEnLecture"
            v-bind:id="id"
    ></filament-ru>
</template>

<script>

    import axios from 'axios';
    import FilamentRU from "./FilamentsRU.vue";

    export default {
        name: 'FilamentModifier',
        data () {
            return {
                estEnLecture: false,
            };
        },

        props: [ 'id' ],

        components: { 'filament-ru': FilamentRU },
    }

</script>