<template>
    <filament-ru
            v-bind:estEnLecture="estEnLecture"
            v-bind:id="id"
    ></filament-ru>
</template>

<script>

    import FilamentRU from "./FilamentsRU.vue";

    export default {
        name: 'FilamentAfficher',
        data () {
            return {
                estEnLecture: true,
            };
        },
        props: { id: Number },
        components: { 'filament-ru': FilamentRU },
    }
</script>