<template>
    <filament-crud v-if="this.etat=='charge'"
            v-bind:estEnLecture="estEnLecture"
            v-bind:filament="filament"
            v-on:submitted="submit"
            v-bind:erreurs="erreurs"
    ></filament-crud>
</template>

<script>

    import axios from 'axios';
    import FilamentCrud from "./FilamentsCRUD.vue";

    export default {

        components: { 'filament-crud': FilamentCrud },

        name: 'FilamentRU',
        data () {
            return {
                etat: 'chargement',
                filament: {},
                erreurs: {},
            };
        },

        props: [ 'id', 'estEnLecture', ],

        methods: {
            submit(event) {
                axios.post('/api/filaments/storeApi/'+this.id, event)
                    .then(response => {
                            this.$router.go(-1)
                    })
                    .catch(e => {
                        if(e.response.status==422) {
                            this.erreurs = e.response.data.errors;
                        } else {
                            this.$swal("Une erreur s'est produite")
                        }
                    });
            },


        },

        mounted: function () {
            axios.get('/api/filaments/getApi/'+this.id)
                .then(response => {
                    this.filament = response.data;
                    this.etat = "charge";
                });
        },

        events: {
            'submitted'(event) {
                this.submit(event);
            },
        },

    }

</script>