<template>
    <impression-ru
            v-bind:estEnLecture="estEnLecture"
            v-bind:idImpression="idImpression"
    ></impression-ru>
</template>

<script>

    import ImpressionRU from "./ImpressionsRU.vue";

    export default {
        name: 'ImpressionAfficher',
        data () {
            return {
                estEnLecture: true,
            };
        },

        props: { idImpression: Number },

        components: { 'impression-ru': ImpressionRU },
    }

</script>