<template>
    <div>
        <router-view></router-view>
        <div >
            <h1>Réservations</h1>
            <calendar-view
                    :show-date="showDate"
                    class="theme-default holiday-us-traditional holiday-us-official"
                    :show-event-times="showEventTimes"
                    :time-format-options="{hour: 'numeric', minute:'2-digit'}"
                    :display-period-uom="periode"
                    :events="reservations"
                    style="height:500px">
                <calendar-view-header
                        slot="header"
                        slot-scope="t"
                        :header-props="t.headerProps"
                        @input="setShowDate"

                />
            </calendar-view>
        </div>
    </div>
</template>

<script>
/**
 * Index des impressions.
 *
 * La liste peut être triée par chacune des colonnes
 * La liste est paginée localement. Toutes les impressions sont chargées et affichées page par page.
 *    -il est possible que cette technique ne soit pas efficace lorsqu'il y aura des milliers d'entrés.
 *
 */

    import axios from 'axios';

    import { CalendarView, CalendarViewHeader } from "vue-simple-calendar";
    require("vue-simple-calendar/static/css/default.css");
    require("vue-simple-calendar/static/css/holidays-us.css");

    import ImpressionListe from './ImpressionsListe.vue';

    export default {
        components: { CalendarView, CalendarViewHeader, ImpressionListe },

        name: 'ImpressionsIndex',
        data () {
            return {

                // pour vue-simple-calendar
                showDate: new Date(),
                showEventTimes: true,
                periode: "week",

                reservations: [],
            }
        },

        methods: {
            /**
             * Appel Ajax pour charger les évènements pour le calendrier
             */
            chargeCalendrierReservations() {
                var dateLocale = this.showDate.getFullYear()+'-'+(this.showDate.getMonth()+1)+'-'+this.showDate.getDate();
                axios.get('/api/impressions/reservations/'+dateLocale+"/"+this.periode)
                    .then(response => {
                        this.reservations = response.data;
                    });
            },

            /**
             * Call back de vue-simple calendar
             * change la date lorsque l'usager change la période affichée dans le calendrier
             */
            setShowDate(d) {
                this.showDate = d;
                this.chargeCalendrierReservations();
            },


        },

        mounted: function () {
            this.chargeCalendrierReservations();

            /**
             * écoute sur l'évènement global 'calendrierRecharge' qui est émit par les 'siblings'
             * lorsque qu'une impression est ajouté ou enlevé de la bd.
             */
            this.$root.$on('calendrierRecharge', data => {
                this.chargeCalendrierReservations();
            });



        }
    }

</script>





