<template>
    <impression-crud
            v-bind:estEnLecture="estEnLecture"
            v-bind:impression="impression"
            v-on:submitted="submit"
            v-bind:erreurs="erreurs"
    ></impression-crud>
</template>

<script>

    import axios from 'axios';
    import Impressioncrud from "./ImpressionsCRUD.vue";

    export default {
        name: 'ImpressionC',
        data () {
            return {
                impression: {},
                erreurs: {},
                uneImpression: {}
            };
        },

        props: [ 'estEnLecture',  ],
        methods: {
            submit(event) {
                axios.post('/api/impressions/createApi/', event.impression)
                //TODO si impression/createApi fonctionne et que le filament a une erreur, ca va créer 2 impressions lors de la re-sauvegarde de l'impression.
                    //on peut par faire de rollback
                    //ca prendrait une fonction qui sauvegarde l'impression et le filament de facon atomique sur le serveur
                    .then(response => {
                        if(event.impression.filamentid == -1) { //nouveau filament
                            this.submitFilament(event.filament, response.data); //l'id de la nouvelle impression est dans la reponse
                        } else {
                            this.$root.$emit('calendrierRecharge', '');
                            this.$router.go(-1)
                        }
                    })
                    .catch(e => {
                        if (e.response.status == 422) {
                            this.erreurs = e.response.data.errors;
                        } else {
                            this.$swal("Une erreur s'est produite")
                        }
                    });
            },


            /**
             * Sauvegarde un nouveau filament et l'attach à la nouvelle impression.
             * @param event
             * @param id
             */
            submitFilament(filament, impression_id) {
                filament.impression_id = impression_id,
                axios.post('/api/filaments/creerEtAssocierApi',filament)
                    .then(response => {
                        this.$root.$emit('calendrierRecharge', '');
                        this.$router.go(-1)
                    })
                    .catch(e => {
                        if (e.response.status == 422) {
                            this.erreurs = e.response.data.errors;
                        } else {
                            this.$swal("Une erreur s'est produite")
                        }
                    });
            }
        },

        events: {
            'submitted'(uneImpression) {
                this.submit(uneImpression);
            },
        },

        components: { 'impression-crud': Impressioncrud },
    }

</script>