<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1> Liste des impressions</h1>
            <div>
                <p>
                    <router-link :to="{name: 'impressions/creer'}" tag="button" class="btn btn-sm btn-primary" >Créer
                    </router-link>
                    <router-link :to="'/'" tag="button" class="btn btn-sm btn-primary" >Accueil
                    </router-link>

                </p>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><a @click="triItems('proprietaireNom')" href="javascript:void(0)">Auteur</a></th>
                            <th><a @click="triItems('nom')" href="javascript:void(0)">Nom</a></th>
                            <th><a @click="triItems('dateCreation')" href="javascript:void(0)">Date de création</a></th>
                            <th><a @click="triItems('tempsDebut')" href="javascript:void(0)">Début</a></th>
                            <th><a @click="triItems('tempsFin')" href="javascript:void(0)">Fin</a></th>
                            <th><a @click="triItems('url')" href="javascript:void(0)">Url</a></th>
                            <th><a @click="triItems('description')" href="javascript:void(0)">Description</a></th>

                            <th>Action</th>
                        </tr>
                    </thead>

                    <template v-if="listeImpressions.length >0">
                        <tbody>
                                <tr v-for="(uneImpression, index) in listePageCourante" :key="index" >
                                    <td>{{ uneImpression.proprietaireNom }} </td>
                                    <td><router-link :to="{name: 'impressions/afficher', params: {idImpression: uneImpression.id} }" >{{ uneImpression.nom }} </router-link> </td>
                                    <td>{{ uneImpression.dateCreation }} </td>
                                    <td>{{ uneImpression.tempsDebut }} </td>
                                    <td>{{ uneImpression.tempsFin }} </td>
                                    <td>{{ uneImpression.url }} </td>
                                    <td>{{ uneImpression.description }}</td>
                                    <td>
                                        <a @click="dupliquer(uneImpression.id, index, uneImpression.nom)" class="btn btn-sm btn-primary">dupliquer</a>
                                        <span v-if="uneImpression.estProprietaire">
                                            <router-link  :to="{name: 'impressions/modifier', params: {idImpression: uneImpression.id} }" tag="button" class="btn btn-sm btn-primary" >modifier
                                            </router-link>
                                            <a @click="confirmeEffacer(uneImpression.id, index, uneImpression.nom)" class="btn btn-sm btn-danger">Effacer</a>
                                        </span>
                                    </td>
                                </tr>
                        </tbody>

                    </template>
                    <template v-else>
                        <p v-if="etat=='chargement'">chargement de la liste des impressions</p>
                        <p v-else>Aucune impression à afficher</p>
                    </template>
                </table>
                <div v-if="listeImpressions.length >0">

                        <paginate
                                v-model="pageCourante"
                                :page-count="nbrPage"
                                :prev-text="'Précédent'"
                                :next-text="'Suivant'"
                                :container-class="'pagination'"
                                :page-class="'page-item'"
                                :page-link-class="'page-link'"
                                :prev-class="'page-link'"
                                :prev-link-class="'page-item'"
                                :next-class="'page-link'"
                                :next-link-class="'page-item'"
                                :break-view-class="'break-view'"
                                :break-view-link-class="'break-view-link'">
                        </paginate>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Index des impressions.
 *
 * La liste peut être triée par chacune des colonnes
 * La liste est paginée localement. Toutes les impressions sont chargées et affichées page par page.
 *    -il est possible que cette technique ne soit pas efficace lorsqu'il y aura des milliers d'entrés.
 *
 */

    import axios from 'axios';
    import lodash from 'lodash'



    export default {

        name: 'ImpressionsListe',
        data () {
            return {
                listeImpressions: [], // la liste des impressions à afficher
                etat: 'chargement',   // l'état de chargement de la page:
                                      //        chargement: les données ne sont pas arrivées
                                      //        charge: (chargé) les données sont arrivées et peuvent être affichées.

                //pour le tri
                colonneTriCourant: "dateCreation",  // la colonne par laquelle les impressions sont triées
                ordreTriAscendant: false,  // on part en desc pour trier les nouvelles en premier

                //pour la pagination
                lignesParPage: 10,  // le nombre de lignes par page pour la pagination
                pageCourante: 1,    // la page affichée présentement

            }
        },

        props: {

            //l'id de l'usager pour qui lister les impressions.
            // Pour tout lister, utiliser 0 (zéro)
            // Pour l'usager courant, utiliser -1
            idUser: {
                type: Number,
                required: true
            },
            },

        methods: {

            /**
             *  Appel Ajax permettant d'effacer une impression
             *
             *  @param id : l'id de l'impression à effacer
             *  @param index : l'index dans la page courante de l'impression sélectionnée
             *  @param nom : le nom de l'impression sélectionnée
             */
            confirmeEffacer(id,index,nom) {
                let that = this;

                this.$swal({     //$swal c'est SweetAlert
                    title: "Effacer  "+nom,
                    text: "Il n'y aura aucun retour en arrière possible !",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui supprimer !',
                    cancelButtonText: 'Non',
                }).then( (result) => {
                    if(result.value) {
                        axios.get('/api/impression/deleteApi/' + id)
                            .then( response => {
                                that.listeImpressions.splice(index+((this.pageCourante-1)*this.lignesParPage),1);
                                that.$swal("L'impression a été effacée correctement");
                                that.$root.$emit('calendrierRecharge', id)
                            })
                            .catch(function (erreur) {
                                that.$swal("erreur lors de l'effacement")
                            })
                    } else (
                        that.$swal('annulé')
                    )
                });
            },

            /**
             *  Appel Ajax permettant de dupliquer une impression.
             *  L'impression résultante sera associée à l'usager connecté.
             *
             *  @param id : l'id de l'impression à dupliquer
             *  @param index : l'index dans la page courante de l'impression sélectionnée
             *  @param nom : le nom de l'impression sélectionnée
             */
            dupliquer(id,index,nom) {
                let that = this;


                this.$swal({     //$swal c'est SweetAlert
                    title: "Dupliquer  "+nom,
                    text: "Ceci va créer une copie exacte et vous l'attribuer !",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui dupliquer !',
                    cancelButtonText: 'Non',
                }).then( (result) => {
                    if(result.value) {
                        axios.get('/api/impressions/dupliquerApi/' + id)
                            .then( response => {
                                that.$swal("L'impression a été dupliquée correctement");
                                that.colonneTriCourant = "dateCreation";
                                that.ordreTriAscendant = false;
                                that.chargeImpressions();
                                //pas besoin d'avertir le calendrier car une imp dupliquée a ses dates null
                            })
                            .catch(function (erreur) {
                                that.$swal("erreur lors de la duplication")
                            })
                    } else (
                        that.$swal('annulé')
                    )
                });
            },


            /**
             *  Tri les impressions selon une colonne.
             *
             *  @param colonne : le nom du champ d'une impression par lequel trier la liste des impressions.
             */
            triItems(colonne) {
                // basé sur  la réponse de Eduardo Cuomo sur https://stackoverflow.com/questions/41222003/vue-order-list-view
                this.listeImpressions = lodash.sortBy(this.listeImpressions, [colonne]);
                if(this.colonneTriCourant===colonne) {
                    if (!this.ordreTriAscendant) {
                        this.listeImpressions = lodash.reverse(this.listeImpressions);
                    }
                    this.ordreTriAscendant = !this.ordreTriAscendant;
                } else {
                    this.ordreTriAscendant = false;
                }

                this.colonneTriCourant = colonne;
                this.pageCourante = 1;
            },

            /**
             *  Appel Ajax pour charger les impressions à afficher.
             */
            chargeImpressions() {
                axios.get('/api/impressions/listePourUsager/'+this.idUser)
                    .then(response => {
                        this.etat = "charge";
                        this.listeImpressions = response.data;
                        this.triItems(this.colonneTriCourant);
                    });
            },
        },

        computed: {

            /**
             * Calcul du nombre de pages pour l'index de la pagination
             * @returns {number} le nombre de page
             */
            nbrPage : function() {
                return Math.ceil(this.listeImpressions.length / this.lignesParPage);
            },

            /**
             * Sépare la liste des impressions chargées en page
             * @returns {impressions} la liste des impressions à afficher pour la page courante.
             */
            listePageCourante : function() {
                return lodash.chunk(this.listeImpressions, this.lignesParPage)[this.pageCourante-1];
            },
        },

        mounted: function () {
            this.chargeImpressions();
        }
    }

</script>





