<template>
    <impression-c
            v-bind:estEnLecture="estEnLecture"
    ></impression-c>
</template>

<script>

    import axios from 'axios';
    import ImpressionC from "./ImpressionsC.vue";

    export default {
        name: 'ImpressionCreer',
        data () {
            return {
                estEnLecture: false,
            };
        },

        components: { 'impression-c': ImpressionC },
    }

</script>