<template>
    <impression-crud v-if="this.etat=='charge'"
            v-bind:estEnLecture="estEnLecture"
            v-bind:impression="impression"
            v-bind:temps="temps"
            v-on:submitted="submit"
            v-bind:erreurs="erreurs"
    ></impression-crud>
</template>

<script>

    import axios from 'axios';
    import Impressioncrud from "./ImpressionsCRUD.vue";

    export default {
        name: 'ImpressionRU',
        data () {
            return {
                etat: 'chargement',
                impression: {},
                temps: [],
                erreurs: {},
            };
        },

        props: [ 'idImpression', 'estEnLecture', ],

        methods: {
            submit(event) {
                axios.post('/api/impressions/storeApi/'+this.idImpression, event.impression)
                    .then(response => {
                        if (event.impression.filamentid == -1) { //nouveau filament
                            this.submitFilament(event.filament, this.idImpression); //l'id de la nouvelle impression est dans la reponse
                        } else {
                            this.$root.$emit('calendrierRecharge', '');
                            this.$router.go(-1)
                        }
                    })
                    .catch(e => {
                        if(e.response.status==422) {
                            this.erreurs = e.response.data.errors;
                        } else {
                            this.$swal("Une erreur s'est produite")
                        }
                    });
            },

            //TODO: ce code est répété dans impressionC.vue.
            //faudrait merger C et RU et passer l'impression ou rien un niveau plus haut; et faire un check sur l'id
            // pour savoir si on est dans un RU ou un Create.
            /**
             * Sauvegarde un nouveau filament et l'attach à la nouvelle impression.
             * @param event
             * @param id
             */
            submitFilament(filament, impression_id) {
                filament.impression_id = impression_id,
                    axios.post('/api/filaments/creerEtAssocierApi',filament)
                        .then(response => {
                            this.$root.$emit('calendrierRecharge', '');
                            this.$router.go(-1)
                        })
                        .catch(e => {
                            if (e.response.status == 422) {
                                this.erreurs = e.response.data.errors;
                            } else {
                                this.$swal("Une erreur s'est produite")
                            }
                        });
            }
        },

        mounted: function () {
            axios.get('/api/impressions/getApi/'+this.idImpression)
                .then(response => {
                    this.impression = response.data;
                    this.temps = [new Date(response.data.tempsDebut), new  Date( response.data.tempsFin)];
                    this.etat = "charge";
                });
        },

        events: {
            'submitted'(uneImpression) {
                this.submit(uneImpression);
            },
        },

        components: { 'impression-crud': Impressioncrud },
    }

</script>