<template>
    <div class="container">
        <section class="section-padding">
            <div class="jumbotron text-left">
                <form method="POST" action="" @submit.prevent="onSubmit"  class="form-horizontal" role="form">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="nom" class="col-sm-8 control-label">Nom:</label>
                            <div class = 'col-sm-10'>
                                <input type="text" id="nom" name="nom"  v-bind:readonly="estEnLecture" class="form-control" v-bind:class="{'form-control-plaintext':estEnLecture}"  v-model="impression.nom">
                                <form-error v-if="erreurs.nom" :erreurs="erreurs">
                                    {{ erreurs.nom[0] }}
                                </form-error>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="url" class="col-sm-8 control-label">URL:</label>
                            <div class = 'col-sm-10'>
                                <input type="text" id="url" name="url"  v-bind:readonly="estEnLecture" class="form-control" v-bind:class="{'form-control-plaintext':estEnLecture}"  v-model="impression.url">
                                <form-error v-if="erreurs.url" :erreurs="erreurs">
                                    {{ erreurs.url[0] }}
                                </form-error>
                            </div>
                        </div>
                        <div class="form-group">

                            <label for="description" class="col-sm-8 control-label">Description:</label>
                            <div class = 'col-sm-10'>

                                <b-form-textarea
                                        v-model="impression.description"
                                        :rows="3"
                                        :max-rows="6"
                                        :readonly="estEnLecture"
                                ></b-form-textarea>

                                <form-error v-if="erreurs.description" :erreurs="erreurs">
                                    {{ erreurs.description[0] }}
                                </form-error>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="filamentSelect" class="col-sm-8 control-label">Filament:</label>
                            <div class = 'col-sm-10'>
                                <v-select
                                          id="filamentSelect"
                                          :options="listeFilaments"
                                          v-model="filamentSelectionne"
                                          :disabled="estEnLecture"
                                          :searchable="true"></v-select>
                            </div>
                        </div>
                        <div class="row" v-if="filamentSelectionne.value==-1 && !estEnLecture">
                            <div class = 'col-sm-1'></div>
                            <filament-formulaire
                                v-model="nouveauFilament"
                                :erreurs="erreurs"
                                :estEnlecture="estEnLecture">
                            </filament-formulaire>
                        </div>


                        <div class="form-group">
                            <label for="couleur" class="col-sm-8 control-label">Couleur:</label>
                            <div class = 'col-sm-10'>
                                <input type="text" id="couleur" name="couleur"  v-bind:readonly="estEnLecture" class="form-control" v-bind:class="{'form-control-plaintext':estEnLecture}"  v-model="impression.couleur">
                                <form-error v-if="erreurs.couleur" :erreurs="erreurs">
                                    {{ erreurs.couleur[0] }}
                                </form-error>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resultat" class="col-sm-8 control-label">Résultat:</label>
                            <div class = 'col-sm-10'>
                                <b-form-textarea
                                        v-model="impression.resultat"
                                        :rows="3"
                                        :max-rows="6"
                                        :readonly="estEnLecture"
                                ></b-form-textarea>
                                <form-error v-if="erreurs.resultat" :erreurs="erreurs">
                                    {{ erreurs.resultat[0] }}
                                </form-error>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="configuration" class="col-sm-8 control-label">Configuration:</label>
                            <div class = 'col-sm-10'>
                                <b-form-textarea

                                    v-model="impression.configuration"
                                    :rows="3"
                                    :max-rows="6"
                                    :readonly="estEnLecture"
                                ></b-form-textarea>

                                <form-error v-if="erreurs.configuration" :erreurs="erreurs">
                                    {{ erreurs.configuration[0] }}
                                </form-error>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="datedebut" class="col-sm-8 control-label">date et heures d'impression:</label>
                            <div class = 'col-sm-10' >
                                <date-picker v-model="tempsLocal"
                                             :first-day-of-week="7"
                                             lang="fr"
                                             type="datetime"
                                             :time-picker-options="timePickerOptions"
                                             format="YYYY-MM-DD HH:mm"
                                             range
                                             confirm
                                             :disabled="estEnLecture">
                                </date-picker>
                                <form-error v-if="erreurs.tempsDebut" :erreurs="erreurs">
                                    {{ erreurs.tempsDebut[0] }}
                                </form-error>
                                <form-error v-if="erreurs.tempsFin" :erreurs="erreurs">
                                    {{ erreurs.tempsFin[0] }}
                                </form-error>
                            </div>
                        </div>
                        <div class="form-group" v-if="!estEnLecture">
                            <div class = 'col-sm-3'>
                                <button class="btn btn-primary">Sauvegarder</button>
                            </div>
                        </div>
                        <div class="form-group" >
                            <div class = 'col-sm-3'>
                                <a @click="$router.go(-1)" class="btn btn-primary">Retour</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</template>

<script>

    import FormError from '../../FormError.vue';
    import DatePicker from 'vue2-datepicker';
    import BootstrapVue from 'bootstrap-vue';

    import FilamentFormulaire from '../Filaments/FilamentFormulaireComponent.vue';

    export default {

        components: { FormError, DatePicker, BootstrapVue, FilamentFormulaire },

        name: 'CrudImpression',
        props: {
            estEnLecture: Boolean,
            impression: Object,
            temps: Array,

            erreurs: Object,
        },

        data: function () {
            return {
                timePickerOptions:{     // pour vue2-datepicker
                    start: '00:00',
                    step: '00:30',
                    end: '23:30'
                },
                showDate: new Date(),   // pour vue-simple-calendar
                tempsLocal: this.temps,

                nouveauFilament: {
                    fabricant: '',
                    diametre: '1.75',
                    temperature_recommandee: '210',
                    commentaire: ''
                },

                //les valeurs -1 et 0 sont réservées pour indiquer que c'est un nouveau filament, ou qu'il n'y en a pas.
                listeFilaments: [{label:'nouveau' , value: '-1' },{label:'aucun' , value: '0' }],
                filamentSelectionne:{label:'aucun' , value: '0' } ,
            };
        },

        methods: {
            onSubmit() {
                var tempsDebut = "";
                var tempsFin = "";
                if(typeof(this.tempsLocal) != 'undefined') {
                    tempsDebut = this.tempsLocal[0].toISOString();
                    tempsFin = this.tempsLocal[1].toISOString();
                }

                this.$emit('submitted', {
                    impression: {
                        nom: this.impression.nom,
                        url: this.impression.url,
                        description: this.impression.description,
                        couleur: this.impression.couleur,
                        resultat: this.impression.resultat,
                        configuration: this.impression.configuration,
                        tempsDebut: tempsDebut,
                        tempsFin: tempsFin,
                        filamentid: this.filamentSelectionne.value,
                    },
                    filament: {
                        fabricant: this.nouveauFilament.fabricant,
                        diametre: this.nouveauFilament.diametre,
                        temperature_recommandee: this.nouveauFilament.temperature_recommandee,
                        commentaire: this.nouveauFilament.commentaire
                    }

                });
            },
        },

        watch: {
            temps:  function(temps) {
                this.tempsLocal = temps;
            },
        },

        mounted: function() {
            axios.get('/api/filaments/listePourSelecteurApi')
                .then(response => {
                    this.listeFilaments=this.listeFilaments.concat(response.data);
                    if(typeof this.impression.filamentid != 'undefined') {
                        var x = this.listeFilaments.filter(filament => filament.value == this.impression.filamentid);
                        this.filamentSelectionne = x[0];
                    }
                })
                .catch (e => {
                    this.$swal("Une erreur s'est produite")
            });
        }
    }

</script>