<template>
    <impression-ru
            v-bind:estEnLecture="estEnLecture"
            v-bind:idImpression="idImpression"
    ></impression-ru>
</template>

<script>

    import axios from 'axios';
    import ImpressionRU from "./ImpressionsRU.vue";

    export default {
        name: 'ImpressionModifier',
        data () {
            return {
                estEnLecture: false,
            };
        },

        props: [ 'idImpression' ],

        components: { 'impression-ru': ImpressionRU },
    }

</script>